@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
}

/* Esto fuerza a que el fondo sea negro y el texto blanco aunque Tailwind falle */
:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}